body {
  background-color: #239bd5;
  color: white;
  font-family: Lato, sans-serif;
}

h1 {
  font-family: Oxygen, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

text {
  font-size: 16px;
}

.ratingsbox {
  background-color: rgba(220, 220, 220, 0.884);
  opacity: 70%;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  color: rgb(3, 81, 112);
  border-radius: 2px;
}

#d3-container {
  width: 1200px;
  margin: 0 auto;
}

#rating {
  font-size: 18px;
}
